{% extends "layout.html" %}

{% block title %}
    Badminton
{% endblock %}

{% block main %}

    <a href="/tt" class="btn btn-warning btn-lg tt-button" role="button" aria-pressed="true">Table Tennis</a>
    <a href="/badminton" class="btn btn-success btn-lg badminton-button" role="button" aria-pressed="true">Badminton</a>
    <a href="/gym" class="btn btn-danger btn-lg gym-button" role="button" aria-pressed="true">Gym</a>

    <div class="sports-header">
        <h1>Badminton</h1>
    </div>

    <div class="sports-details">
        <ul>
            <li>Cost: $2.00 per hour</li>
            <li>Minimum 2 players, maximum 4 players.</li>
            <li>Rackets and shuttlecocks can be loaned from front desk.</li>
            <li>Each time slot lasts 1 hour, each user is only allowed to book a maximum of 2 slots per day.</li>
        </ul>
    </div>

    <div class="booking-link">
        <h2>Wish to book now?</h2>
        <a href="/book_bmt" class="btn btn-primary btn-lg booking-button" role="button" aria-pressed="true">Book</a>
    </div>

{% endblock %}