{% extends "layout.html" %}

{% block title %}
    Facilities
{% endblock %}

{% block main %}

    <a href="/tt" class="btn btn-warning btn-lg tt-button" role="button" aria-pressed="true">Table Tennis</a>
    <a href="/badminton" class="btn btn-success btn-lg badminton-button" role="button" aria-pressed="true">Badminton</a>
    <a href="/gym" class="btn btn-danger btn-lg gym-button" role="button" aria-pressed="true">Gym</a>

    <div class="fac-caption">
        <h2>Please select a sport for more details.</h2>
    </div>

{% endblock %}